<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Secret Keeper</title>
    <span th:include="includes :: materialize"></span>
</head>
<body>

    <div th:include="includes :: navbar"></div>

<div class="container">

    <h1>Create a New Secret</h1>

    <form th:action="@{/secret/createSecret}" method="post" th:object="${newSecret}">
        <textarea class="materialize-textarea" type="text" th:field="*{body}" placeholder="Your secret here"></textarea>
        <input class="waves-effect waves-light btn" type="submit" value="Add Secret"/>
    </form>

</div>



<span th:include="includes :: js"></span>
</body>
</html>