<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Secret Keeper</title>
    <span th:include="includes :: materialize"></span>
</head>
<body>

    <div th:include="includes :: navbar"></div>

    <div class="container">

        <h1>Secrets</h1>

        <div class="row">
            <div class="col s12 m4">
                <div class="card-panel blue lighten-1" th:each="secret : ${secrets}">
                    <span class="white-text" th:text="${secret.body}"></span>
                </div>
            </div>
        </div>

    </div>



    <span th:include="includes :: js"></span>
</body>
</html>